* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background: #6bb454;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}

.btn_cart {
    font-size: 25px;
}

.container_cart {
    display: none;
    padding: 20px;
    border: 1px solid #a2fd87;
    background: #dffdd6;
    border-radius: 5px;

    position: absolute;
    right: 10px;
    top: 80px;
}

.container_banner {
    height: 400px;
    background-image: url(banner.jpg);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_clear_cart {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background: #6bb454;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.btn_add {
    padding: 5px 10px;
    font-size: 20px;
    background: #6bb454;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.btn_remove {
    padding: 5px 10px;
    font-size: 20px;
    background: #6bb454;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.btn_remove_element {
    padding: 5px 10px;
    font-size: 20px;
    background: #972323;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.title_banner {
    font-size: 70px;
    color: #ffffff;
}

.container_prducts {
    max-width: 1200px;
    margin: 3em auto;


    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #6bb454;
    margin: 10px;
}

.container_image_product {
    width: 300px;
    height: 300px;
}

.container_image_product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container_info_product {
    padding: 20px;
}

.btn_add_cart {
    width: 100%;
    padding: 10px;
    background: #6bb454;
    color: #FFFF;
    border: none;
    border-radius: 5px;
    font-size: 25px;
}

.cont {
    background: #179606;
    padding: 1px 7px;
    color: #FFFF;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    font-size: 15px;
}

.card_product_cart {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 5px 0;
}

.card_product_cart img {
    width: 50px;
}